.boxsh{
    background-color: aqua;
   padding: 150px;    
   text-align: left;

    box-shadow: 20px 20px 10px blue,30px 30px 10px red;

    box-shadow: -20px -20px 10px  45px blue,30px 30px 10px red;


}
